/* Breakpoints */
$xl: 87.5em; // 4k and hi-res desktop
$lg: 60em; // 1080 and hi-res laptops
$md: 40em; // hi-res tablets and low-res laptops
$sm: 28em; // mobile and low-res tablets
$xs: 20em; // mobile only

form#p28f-searchForm {
    div.p28f-search-form {
        display: flex;
        align-items: end;
        justify-content: center;
        gap: 15px;
        width: 100%;
        margin: 50px 0;
        flex-wrap: wrap;
    }

    & div.p28f-form-item {
        display: flex;
        flex-direction: column;

        label {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 13px;
        }

        span#p28f-reset-filters {
            cursor: pointer;
            font-weight: normal;
            font-size: 13px;

            &:hover {
                font-weight: 700;
            }
        }

        select {
            color: #2e2e2e;
            width: 150px;
            cursor: pointer;
            outline: 0;
            overflow: hidden;
            padding: 10px 5px 10px 10px;
            background: #f0eeee;
            border: 1px solid #d5d5d5;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right .8em center/1.4em, #f0eeee;
        }
    }

    input[type="submit"],
    button {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all ease 0.5s;
        font-weight: 700;
        text-align: center;
        background: initial;
        border: 2px solid #000;
        border-radius: 5px;
        width: 150px;
        height: 40px;
        text-transform: uppercase;
        font-family: inherit;

        &:hover {
            background-color: #2e2e2e;
            color: #ffffff;
        }
    }
}

.p28f-results {

    grid-template-columns: repeat(2, 1fr);
    display: grid;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: wrap;


    & div.p28f-result-item {
        width: 100%;
        height: 250px;

        &:hover {
            width: calc(100% - 6px);
            transition-duration: 0.05s;
        }

        img.p28f-thumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

p.p28f-loading {
    font-style: italic;
}


button#p28f-load-more {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
    font-weight: 700;
    text-align: center;
    background: initial;
    border: 2px solid #000;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    font-family: inherit;

    &:hover {
        background-color: #2e2e2e;
        color: #ffffff;
    }
}

@media (min-width: 40em) {
    .p28f-results {
        grid-template-columns: repeat(4, 1fr);
    }
}